.mainContainer {
	padding: 2rem;
}

.titleSection {
	padding-inline: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

input {
	background-color: var(--color-main-orange);
}

.cardContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.errorText {
	color: var(--color-main-orange);
}
