.mainContainer{
    padding: 2rem;
}

.titleSection{
    padding-inline: 2rem;
}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.errorText {
	color: var(--color-main-orange);
}