.mainContainer {
	padding: 2rem;
}

.titleSection {
	padding-inline: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.actionsContainer {
	display: flex;
	gap: 1rem;
	align-items: center;
}

input {
	background-color: var(--color-main-orange);
}

.cardContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.createBtn {
	background-color: var(--color-main-orange);
}

.errorText {
	color: var(--color-main-orange);
}

@media (max-width: 650px) {
	.titleSection {
		flex-direction: column;
	}
}
