.footer {
	margin-top: auto;
	padding: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-white);
	height: 3rem;
}

.logo {
	max-width: 124px;
}

.right {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	align-items: center;
}

.text {
	color: var(--color-main-blue);
}
