.mainContainer {
	padding: 2rem;
}

.titleSection {
	padding-inline: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.textContainer {
	display: flex;
	justify-content: center;
}

.errorText {
	color: var(--color-main-orange);
}

.createBtn {
	background-color: var(--color-main-orange);
}
